Repository fmd-project-team/FMD, pull requests merged in 2019-04, with the labels that each got.

#23 Adding MangaID again
  lua/modules/MangaID.lua
Labels: Lua, Testing

#26 Adding Komiku, KomikManga, OtakuIndo
  lua/modules/MangaShiro.lua
  lua/modules/myReaderMangaCMS.lua
Labels: Lua, Site Request

#35 add an empty language
  mangadownloader/languages/fmd.id_ID.po
Labels: Localization

#32 fix info title NeuManga.lua
  lua/modules/NeuManga.lua
Labels: Lua, Site Changed

#34 MangaID moved to BacaManga
  lua/modules/MangaID.lua
Labels: Lua

#33 Add Kyuroku, BacaManga, remove KomikOtaku
  lua/modules/MangaShiro.lua
Labels: Lua, Site Request

#40 Update Indonesian language
  mangadownloader/languages/fmd.id_ID.po
Labels: Localization

#43 Updated Russian localization
  mangadownloader/languages/fmd.ru_RU.po
Labels: Localization

#49 Website and URL changed [HeavenManga]
  lua/modules/HeavenManga.lua
Labels: Lua, Site Changed

#50 Update Indonesian language
  languages/fmd.id_ID.po
  languages/updater.id_ID.po
Labels: Localization

#56 Update Indonesian language
  languages/fmd.id_ID.po
Labels: Localization

#64 YamiTenshiNoFansub
  lua/modules/FoOlSlide.lua
Labels: Lua, Site Removed

#69 change site toonkor
  lua/modules/Toonkor.lua
Labels: Fixed, Lua, Site Changed

#63 MangAs
  lua/modules/myReaderMangaCMS.lua
Labels: Lua, Site Changed

#79 Add MangaToon Category
  lua/modules/MangaToon.lua
Labels: Lua

#101 bacamanga change domain (issue #99)
  lua/modules/MangaShiro.lua
Labels: Lua, Site Changed

#104 Updated russian localization
  languages/fmd.ru_RU.po
Labels: Localization

#107 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#123 Update for PT-BR
  languages/fmd.pt_BR.po
Labels: Localization

#128 checking premium chapter [MangaToon]
  lua/modules/MangaToon.lua
Labels: Lua

#136 add LeviatanScans
  lua/modules/Madara.lua
Labels: Lua, Site Request

#137 add DarkskyProjects
  lua/modules/Madara.lua
Labels: Lua, Site Request

#138 [KomikCast] Site Change Template
  lua/modules/MangaShiro.lua
Labels: Lua, Site Changed
