Repository fmd-project-team/FMD, pull requests merged in 2019-07, with the labels that each got.

#337 Add More Manga Info [HentaiNexus]
  lua/modules/HentaiNexus.lua
Labels: Implemented, Lua

#339 fix [DoujinYosh] and [MangaYosh]
  lua/modules/Madara.lua
Labels: Fixed, Lua, Site Changed

#352 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#360 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#364 Add SIte Request Ngomik, KoMBatch, 11Toon
  lua/modules/MangaShiro.lua
  lua/modules/MangaShow.lua
Labels: Lua, Site Added, Site Changed, Site Request

#368 Add site [MangaPus]
  lua/modules/MangaShiro.lua
Labels: Site Added, Site Request

#373 decode image source BacaManga and fix from issue #372
  lua/modules/MangaShiro.lua
Labels: Fixed, Lua, Site Changed

#376 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#379 Add site [OneShotScans]
  lua/modules/OneShotScans.lua
Labels: Lua, Site Added, Site Request

#384 Site change domain [UnionMangas]
  lua/modules/UnionMangas.lua
Labels: Fixed, Lua, Site Changed

#387 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request
