Repository fmd-project-team/FMD, pull requests merged in 2019-08, with the labels that each got.

#392 site change image preview [BacaManga]
  lua/modules/MangaShiro.lua
Labels: Lua, Site Changed

#395 fix can't get mangalist [Mangafreak]
  lua/modules/MangaFreak.lua
Labels: Fixed, Lua, Site Changed

#396 fix can't download image [ManhuaGui]
  lua/modules/ManHuaGui.lua
Labels: Fixed, Lua, Site Changed

#401 fix chapter download [BacaManga]
  lua/modules/MangaShiro.lua
Labels: Fixed, Site Changed

#415 Change Domain [KnightNoFansub]
  lua/modules/Madara.lua
Labels: Fixed, Site Changed

#427 remove [OtakuIndo], fix MangaInfo and add support cloudflare for [Komiku]
  lua/modules/MangaShiro.lua
Labels: Fixed, Site Changed, Site Removal, Site Removed

#433 Add Website [KIDzScan]
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#437 Fix chapter download [BacaManga]
  lua/modules/MangaShiro.lua
Labels: Fixed, Site Changed

#438 Website changed domain [Toonkor]
  lua/modules/Toonkor.lua
Labels: Lua, Site Changed

#439 Added MangazukiClub, MangazukiMe, ManhwaClub, YomangaInfo (Issue #351)
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#456 Update fmd.es.po
  languages/fmd.es.po
Labels: Localization
