Repository fmd-project-team/FMD, pull requests merged in 2019-10, with the labels that each got.

#534 Fixed chapter download [BacaManga]
  lua/modules/MangaShiro.lua
Labels: Fixed, Site Changed

#537 Website changed domain [SubManga]
  lua/modules/SubManga.lua
Labels: Fixed, Lua, Site Changed

#538 Website changed URL [HeavenManga, HolyManga]
  lua/modules/HeavenManga.lua
Labels: Fixed, Lua, Site Changed

#544 Add support for websites [Mangaseno, OnManga]
  lua/modules/Madara.lua
  lua/modules/MangaShiro.lua
Labels: Site Added, Site Request

#547 Template-Genkan: Fixed image download
  lua/modules/Template-Genkan.lua
Labels: Fixed, Lua, Site Changed

#550 Add support for website [PojokManga]
  lua/modules/Madara.lua
Labels: Site Added, Site Request

#556 Fixed can't get manga list [NinjaScans]
  lua/modules/Madara.lua
Labels: Fixed, Site Changed

#562 Website changed domain [ScanFR]
  lua/modules/myReaderMangaCMS.lua
Labels: Fixed, Lua, Site Changed

#568 Add support for website [MangaSusu]
  lua/modules/myReaderMangaCMS.lua
Labels: Lua, Site Added

#576 Madara: Fixed all
  lua/modules/Madara.lua
Labels: Fixed, Lua, Site Added, Site Changed

#580 Add support for website [HentaiHand]
  lua/modules/NHentai.lua
Labels: Lua, Site Added, Site Request

#581 Added NManhwa and ManyToonCom
  lua/modules/Madara.lua
Labels: Site Added, Site Request

#583 Website changed domain [MangaShiro]
  lua/modules/MangaShiro.lua
Labels: Fixed, Site Changed

#590 Add support for website [BaekjinScans] and Website changed domain [HeavenManga, HolyManga]
  lua/modules/HeavenManga.lua
  lua/modules/MangaShiro.lua
Labels: Fixed, Site Added, Site Changed, Site Request
