Repository fmd-project-team/FMD, pull requests merged in 2019-05, with the labels that each got.

#143 [Mangalib] fix Manga Info and Download Image Failed
  lua/modules/MangaLib.lua
Labels: Lua

#150 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#154 add manga ManyToon and 3asqOrg
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#152 [ComicExtra] fix chapter list
  lua/modules/ComicExtra.lua
Labels: Lua, Site Changed

#158 add PlotTwistNoFansub
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#157 [MangaLib] fix manga info and get manga list
  lua/modules/MangaLib.lua
Labels: Cloudflare, Lua, Site Changed

#161 Update fmd.de.po
  languages/fmd.de.po
Labels: Localization

#162 Update fmd.de.po
  languages/fmd.de.po
Labels: Localization

#163 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#164 Even more translations...
  languages/fmd.de.po
Labels: Localization

#172 more translation stuff
  languages/fmd.de.po
Labels: Localization

#185 add PocketAngelScan and Toonily
  lua/modules/Madara.lua
Labels: Lua, Site Request

#183 add site [MangaFull]
  lua/modules/MangaFull.lua
Labels: Lua, Site Request

#184 site Change Template [PecintaKomik] and site request [KomikMama]
  lua/modules/MangaShiro.lua
Labels: Lua, Site Changed, Site Request

#190 Add French Ajout Français
  languages/fmd.fr.po
  languages/updater.fr.po
Labels: Localization

#189 add more sites [Madara.lua]
  lua/modules/Madara.lua
Labels: Lua, Site Request

#204 add site TMOHentai
  lua/modules/TMOHentai.lua
Labels: Lua, Site Request

#207 Add Site ZManga
  lua/modules/Madara.lua
Labels: Lua, Site Request
