Repository fmd-project-team/FMD, pull requests merged in 2019-06, with the labels that each got.

#234 Update Indonesian localization
  languages/fmd.id_ID.po
Labels: Localization

#239 Add Site Indo MangaCeng #230
  lua/modules/MangaShiro.lua
Labels: Lua, Site Added, Site Request

#240 Add H-Sites DoujinYosh
  lua/modules/Madara.lua
Labels: Lua, Site Request

#241 Add site ReadComicsOnlineRU
  lua/modules/LeoManga.lua
Labels: Lua, Site Request

#242 Add site MangaZukiOnline
  lua/modules/Madara.lua
Labels: Lua, Site Request

#243 Update fmd.es.po
  languages/fmd.es.po
Labels: Localization

#245 Update updater.es.po
  languages/updater.es.po
Labels: Localization

#244 Update lclstrconsts.es.po
  languages/lclstrconsts.es.po
Labels: Localization

#248 Add site Shoujohearts (#247)
  lua/modules/FoOlSlide.lua
Labels: Lua, Site Added, Site Request

#251 Add support for NinjaScans (#247)
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#253 fix [kyuroku] can't get chapter list
  lua/modules/MangaShiro.lua
Labels: Lua, Site Changed

#256 fix [NinjaScans] can't download image chapter
  lua/modules/Madara.lua
Labels: Fixed, Lua, Site Changed

#260 add site [ReadManhua]
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#261 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Request

#264 Moving ReadManhua to English-Scanlation category
  lua/modules/Madara.lua
Labels: Lua

#266 fix [MerakiScans] can't donwload image
  lua/modules/MerakiScans.lua
Labels: Lua, Site Changed

#273 Add site [HanaScan]
  lua/modules/Lhscans.lua
Labels: Lua, Site Request

#272 Fix [Toonkor] manga info and link
  lua/modules/Toonkor.lua
Labels: Lua, Site Changed

#271 fix [WestManga] summary not show
  lua/modules/MangaShiro.lua
Labels: Lua, Partially Fixed, Site Changed

#279 Update Indonesian localization
  languages/updater.id_ID.po
Labels: Localization

#298 New French TL
  languages/fmd.fr.po
  languages/updater.fr.po
Labels: Localization

#299 Add SIte [AzoraManga]
  lua/modules/Madara.lua
Labels: Lua, Site Request

#301 Add Site [Maid]
  lua/modules/MangaShiro.lua
Labels: Lua, Site Request

#305 site change [Toonkor]
  lua/modules/Toonkor.lua
Labels: Lua, Site Changed

#320 issue mangashiro.lua
  lua/modules/MangaShiro.lua
Labels: Lua, Site Changed
