Repository fmd-project-team/FMD, pull requests merged in 2020-05, with the labels that each got.

#958 fix JaiminisBox
  lua/modules/FoOlSlide.lua
Labels: Fixed

#968 Updated Russian localization
  languages/fmd.ru_RU.po
Labels: Localization

#983 Add Wuxiaworld and Webnovel.live
  lua/modules/KKJScans.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#985 Update Madara
  lua/modules/Madara.lua
Labels: Site Added

#988 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added

#991 Workaround for Issue #965
  lua/modules/WeiboManhua.lua
Labels: Fixed

#992 Add Support Telegraph [webComics]
  lua/modules/Telegraph.lua
Labels: Site Added

#996 Add WordExcerpt
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#997 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#1001 Add support for guya.moe
  lua/modules/GuyaMoe.lua
Labels: Lua, Site Added, Site Request

#1002 Update WeiboManhua.lua
  lua/modules/WeiboManhua.lua
Labels: Bug, Fixed, Lua
