Repository fmd-project-team/FMD, pull requests merged in 2020-06, with the labels that each got.

#1011 Update fmd.de.po
  languages/fmd.de.po
Labels: Localization

#1012 Update GuyaMoe.lua
  lua/modules/GuyaMoe.lua
Labels: Fixed, Lua, Site Changed

#1017 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#1018 Updating MyReadingManga
  lua/modules/MyReadingManga.lua
Labels: In Progress, Site Changed

#1022 Add ManhuaPlus and Martial Scans
  lua/modules/Madara.lua
  lua/modules/TruyenChon.lua
Labels: Lua, Partially Implemented, Site Added, Site Request

#1023 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#1029 New Module: ManhwaPool
  lua/modules/Madara.lua
Labels: Lua, Site Added

#1032 Update HeavenManga.lua
  lua/modules/HeavenManga.lua
Labels: Site Changed

#1034 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Request

#1041 Update Madara.lua
  lua/modules/Madara.lua
Labels: Lua, Site Added, Site Changed, Site Request
